@font-face {
    font-family: 'Source Code Pro';
    src: url('SourceCodePro-Regular.otf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family:    "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin:         0;
	padding:        0;
	border:         0;
	vertical-align: baseline;
}

.remark-inline-code, .remark-code {
    font-family: "Source Code Pro";
}

.remark-code {
    border-radius: 5px;
    border: 1px solid #dfdedc;
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.remark-slide-content, .remark-slide-container {
    background: #ecf0f4;
}

.remark-slide-scaler {
    box-shadow: none;
}

h1, h2, h3 {
    color: #2980b9;
}

h2, h3 {
    border-bottom: 1px solid #2980b9;
}

a {
    color: #2980b9;
    text-decoration: none;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #dfdedc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  color: #5f5e5c;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

blockquote p {
  display: inline;
}
